a:link{text-decoration: none;color:gray;}
a:hover{background-image: url(images/lvbiaoti.png);}
li{list-style: none;height:35px;width:200px;}
#h1{
	background-image: url(images/header.png);
	background-repeat: no-repeat;
	height:60px;
	width: 200px;
}
#h2{
	background-image: url(images/bj.png);
	background-repeat: no-repeat;
}
ul{
	padding-top: 10px;
	background-image: url(images/baibiaoti.png);
	background-repeat: repeat-y;
	height:190px;
	width: 200px;
}