.news{
		float: left;
		background-color:gray;
		height:200px;
		width:600px;
}
.nf{
		float:left;
		margin:10px;
		width:280px;
		height:80px;
		background-color:purple;
}
.h{	
	
		margin-left: 10px;
		float: left;
		height: 200px;
		width:300px;
		background-color: gray;
}
.m{
		float: bottom;
		margin:5px;
		height:60px;
		width: 280px;
		background-color: purple;
}