div{ margin-top:10px}
.divcss5-1{font-size:16px}
.divcss5-2{color:red}
.divcss5-3{ background:black; color:white}
.divcss5-4{border:10px dotted red}
.divcss5-5{border-top:5px dashed blue;border-right:3px double pink;border-bottom:3px dotted red;border-left:5px solid green;}