a:link{text-decoration: none;color: black;}
a:hover{text-decoration: underline;}
body{padding: 0;font-family: "宋体";color:#522a06;}
#daohangtiao a:hover{text-decoration: underline;background-color:#9d2933;}
#daohangtiao a:link{color:white;}
#body{
	width: 1500px;
	height:1107px;
	margin: auto;
}
#daohang{
	width: 1500px;
	height: 234px;
	background-image: url(images/banner.png);
	background-repeat: no-repeat;
}
#logo{
	width: 200px;
	height:200px;
}
#daohangtiao {
	float: left;
	height: 35px;
	width: 1500px;
	background-color: #c32136;
	line-height:10px;
	font-family: "宋体";
	font-size: 15px;
}
#anniu{
	width:20px;
	height: 20px;
	float:left;
	position: relative;
	left: 50px;
	bottom:10px;
}
#denglu{
	width: 20px;
	height: 20px;
	float:left;
	position: relative;
	left:100px;
	bottom:10px;
}
#sousuo{
	width: 50px;
	height: 20px;
	border:1px solid red;
	float: left;
	position: relative;
	bottom: 10px;
}
#daohang ul li {
	list-style-type:none;
	float: left;
}
#content{
	position: absolute;
	right: 15%;
	left: 15%;
	height: 800px;
	width: 1056px;
}
#content-left{
	width:400px;
	height:800px;
	float: left;
}
#junjian{
	width:400px;
	height:315px;
	background-color: #e9e7ef;
	border:1px solid #e9e7ef;
	margin-bottom: 3px;
	color:#161823;
}
#beijing{
	width: 400px;
	height:280px;
	background-image: url(images/junjian.png);
	background-repeat: no-repeat;
}
#txt{
	text-align: center;
}
#jiangwu{
	width: 400px;
	height: 400px;
	border:1px solid #e9e7ef;
	list-style-type: disc;
}
#biaoti{
	height:45px;
	width: 400px;
	background-color: #e9e7ef;
	background-image: url(images/jiangwu.png);
	background-repeat: no-repeat;
}
#liebiao{
	line-height:35px;
	font-size:14px;
}
#content-middle{
	width: 400px;
	height:720px;
	border:1px solid #e9e7ef;
	float: left;
}
#junqing{
	width: 400px;
	height: 45px;
	background-color: #e9e7ef;
	background-image: url(images/junqing.png);
	background-repeat: no-repeat;
}
#junqingliebiao{
	line-height: 40px;
}
#content-right{
	float:left;
	width: 250px;
	height: 720px;
	border: 1px solid #e9e7ef;
	font-size: 14px;
	line-height:20px;
}
#zhongguo{
	width: 250px;
	height: 45px;
	background-color: #e9e7ef;
	background-image: url(images/zhongguo.png);
	background-repeat: no-repeat;
	border-top:1px solid #e9e7ef;
	border-left:1px solid #e9e7ef;
	border-right:1px solid #e9e7ef;
}
#top{
	height: 225px;
	width: 250px;
}
#mi{
	float: left;
	height: 225px;
	width: 250px;
}
#bot{
	height: 225px;
	width: 250px;
}
#bott{
	width: 1500px;
	height:150px;
	border: 1px solid #e9e7ef;
	float: left;
	position: relative;
	top:722px;
	text-align: center;
	font-size: 12px;
	line-height: 40px;
}
1050   400  400  250