a:link{text-decoration: none;color:black;}
a:hover{color:red;}
li{list-style: none;list-style-image: url(images/left_cur.gif);}
#titlediv{
	background-image:url(images/left_nav_title.gif);
	background-repeat: no-repeat;
	padding-top: 15px;
	padding-left: 39px;
	color:white;
}
ul{
	margin-top: 0px;
	background-image:url(images/left_nav_txt.gif);
	background-repeat: repeat-y;
}
#footerdiv{
	margin-top:0; 	
	background-image:url("images/left_nav_bottom.gif");
	background-repeat: no-repeat;
	height: 40px;
}
