a:link{text-decoration:none;}
    a:hover{text-decoration:underline;}
    li{font-family:"Arial";font-size:"12px";color:gray;}
    a{color:gray;}
    p{line-height:2em;}
    .red{font-size:14px;color:#FFFFFF;font-weight:bolder;}
    #green{color:orange;}
    #grop{color:green;}


